/*Form input float label*/
.div-float .input-group {
    flex-wrap: inherit !important;
}

.has-float-label {
    width: 100%;
    position: relative;
	margin-bottom: 1rem;
}

.input-group-addon {
    padding: .5rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25;
	color: #55595c;
	text-align: center;
	background-color: #eceeef;
    border: 0px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.input-group-addon,
.input-group-btn {
    width: auto;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
    display: table-cell;
}

.has-float-label label {
    position: absolute;
	left: 0;
	top: 0;
	cursor: text;
	font-size: 75%;
	opacity: 1;
	-webkit-transition: all .2s;
	transition: all .2s;
	top: 0.2em;
	left: 12px;
	z-index: 3;
	line-height: 1;
	padding: 0 1px;
	text-decoration: none;
}

.has-float-label label::after {
    content: " ";
	display: block;
	position: absolute;
	background: transparent;
	height: 2px;
	top: 50%;
	left: -.2em;
	right: -.2em;
	z-index: -1;
	text-decoration: none;
}

.has-float-label .form-control::-webkit-input-placeholder {
    opacity: 1;
	-webkit-transition: all .2s;
	transition: all .2s;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+label {
    opacity: .5;
	top: .60em;
	font-weight: normal;
	text-decoration: none;
}

.input-group .has-float-label {
    display: table-cell;
}

.input-group .has-float-label .form-control {
    border-radius: 4px;
}

.input-group .has-float-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group .has-float-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}

.has-float-label input:focus,
.has-float-label textarea:focus,
.has-float-label select:focus {
    border-color: #0d47a1;
    box-shadow: none;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+* {
    font-size: 100%;
        margin-top: 4px;
}

.has-float-label:last-child .form-control {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}


.icon-form {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 989;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: auto;
}